In [14]:
import pandas as pd

In [15]:
df = pd.read_csv('../data/census.csv')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              32561 non-null  int64
 1    workclass       32561 non-null  object
 2    fnlgt           32561 non-null  int64
 3    education       32561 non-null  object
 4    education-num   32561 non-null  int64
 5    marital-status  32561 non-null  object
 6    occupation      32561 non-null  object
 7    relationship    32561 non-null  object
 8    race            32561 non-null  object
 9    sex             32561 non-null  object
 10   capital-gain    32561 non-null  int64
 11   capital-loss    32561 non-null  int64
 12   hours-per-week  32561 non-null  int64
 13   native-country  32561 non-null  object
 14   salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [17]:
df.columns

Index(['age', ' workclass', ' fnlgt', ' education', ' education-num',
       ' marital-status', ' occupation', ' relationship', ' race', ' sex',
       ' capital-gain', ' capital-loss', ' hours-per-week', ' native-country',
       ' salary'],
      dtype='object')

In [18]:
df.columns = df.columns.str.strip()

In [19]:
df.columns

Index(['age', 'workclass', 'fnlgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [20]:
cat = df.select_dtypes(include='object')

In [21]:
cat.values

array([[' State-gov', ' Bachelors', ' Never-married', ..., ' Male',
        ' United-States', ' <=50K'],
       [' Self-emp-not-inc', ' Bachelors', ' Married-civ-spouse', ...,
        ' Male', ' United-States', ' <=50K'],
       [' Private', ' HS-grad', ' Divorced', ..., ' Male',
        ' United-States', ' <=50K'],
       ...,
       [' Private', ' HS-grad', ' Widowed', ..., ' Female',
        ' United-States', ' <=50K'],
       [' Private', ' HS-grad', ' Never-married', ..., ' Male',
        ' United-States', ' <=50K'],
       [' Self-emp-inc', ' HS-grad', ' Married-civ-spouse', ...,
        ' Female', ' United-States', ' >50K']], dtype=object)

In [22]:
df = df.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

In [23]:
df.select_dtypes(include='object').values

array([['State-gov', 'Bachelors', 'Never-married', ..., 'Male',
        'United-States', '<=50K'],
       ['Self-emp-not-inc', 'Bachelors', 'Married-civ-spouse', ...,
        'Male', 'United-States', '<=50K'],
       ['Private', 'HS-grad', 'Divorced', ..., 'Male', 'United-States',
        '<=50K'],
       ...,
       ['Private', 'HS-grad', 'Widowed', ..., 'Female', 'United-States',
        '<=50K'],
       ['Private', 'HS-grad', 'Never-married', ..., 'Male',
        'United-States', '<=50K'],
       ['Self-emp-inc', 'HS-grad', 'Married-civ-spouse', ..., 'Female',
        'United-States', '>50K']], dtype=object)